.card-body {
  position: relative;
  height: 250px;
  width: 250px;
}

.iframe {
  width: calc(200% + 5px);
  height: calc(200% + 5px);
  border: 0;
  position: absolute;
  top: -2px;
  left: -2px;
  transform: scale(.5);
  transform-origin: top left;
  opacity: 1;
}

.post-card-footer {
  width: 250px;
  padding: 10px;
}

.post-card-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}
